*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  margin: 0;
  color: var(--blue-dark);
  background-color: var(--white);
  @media screen and (min-width: 1200px) {
    font-size: 22px;
    line-height: 1.73;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
}
