// // Sass Architecture Structure
@import './utils/fonts';
@import './utils/variables';
@import './utils/utils';
@import './utils/texts';
@import './base';

@import './components/logo';
@import './components/form';
@import './components/button';
@import './components/pagination';
@import './components/carousel-button';
@import './components/procedures-card';

@import './layouts/header';
@import './layouts/footer';
@import './layouts/procedures-section';
@import './layouts/advantages-section';
@import './layouts/about-section';
@import './layouts/contacts-section';
@import './layouts/hero-section';
@import './layouts/section';
@import './layouts/container';

// /* advantages */

// .advantages-section {
//   padding: 16px 0;
// }

// @media screen and (min-width: 768px) {
//   .advantages-section {
//     padding: 16px 0;
//     background-color: var(--light-green);
//   }
// }

// .advantages-list {
//   background-color: var(--gray);
//   border-radius: 24px;
//   padding: 24px 40px;
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
// }

// @media screen and (min-width: 768px) {
//   .advantages-list {
//     background-color: transparent;
//     padding: 0;
//     font-weight: 300;
//     font-size: 20px;
//     color: var(--lights);
//     flex-direction: row;
//     justify-content: space-between;
//     gap: 40px;
//   }
// }

// /* traditions */

// .section {
//   padding: 20px 0;
// }

// @media screen and (min-width: 768px) {
//   .section {
//     padding: 48px 0;
//   }
// }

// .section-traditions {
//   padding-top: 20px;
// }

// @media screen and (min-width: 768px) {
//   .section-traditions {
//     padding-top: 96px;
//   }
// }

// .container-tradition {
//   display: flex;
//   justify-content: space-between;
//   gap: 20px;
// }

// .section-title {
//   font-weight: 900;
//   font-size: 32px;
//   margin-bottom: 24px;
// }

// @media screen and (min-width: 1200px) {
//   .section-title {
//     font-size: 64px;
//     line-height: 1.31;
//     margin-bottom: 80px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .section-title.title-traditions {
//     margin-bottom: 42px;
//   }
// }

// .descr-traditions {
//   font-size: 16px;
//   margin-bottom: 16px;
// }

// @media screen and (min-width: 1200px) {
//   .descr-traditions {
//     font-size: 18px;
//     margin-bottom: 42px;
//   }
// }

// .img-tradition {
//   display: none;
// }

// @media screen and (min-width: 768px) {
//   .img-tradition {
//     display: block;
//     border-radius: 400px 400px 0 0;
//     width: 284px;
//     height: auto;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .img-tradition {
//     width: 393px;
//     height: 466px;
//   }
// }

// /* chefs */

// .chefs-title {
//   position: relative;
// }

// @media screen and (min-width: 1200px) {
//   .chefs-title::before,
//   .chefs-title::after {
//     content: '';
//     position: absolute;
//     bottom: 24px;
//     width: 352px;
//     height: 2px;
//     background-color: #cfcfbc;
//   }

//   .chefs-title::before {
//     left: 0;
//   }

//   .chefs-title::after {
//     right: 0;
//   }
// }

// .chefe-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px 20px;
// }

// @media screen and (min-width: 1200px) {
//   .chefe-list {
//     gap: 40px 30px;
//   }
// }

// .chefe-item {
//   flex-basis: 1;
// }

// @media screen and (min-width: 768px) {
//   .chefe-item {
//     flex-basis: calc((100% - 30px) / 2);
//   }
// }

// .chefe-info {
//   display: flex;
//   align-items: flex-start;
//   gap: 30px;
// }

// .chefe-photo {
//   width: 156px;
//   height: auto;
//   box-shadow: -8px 8px 0 0 var(--lights), -8px 8px 0 2px var(--light-brown);
//   border-radius: 4px 4px 4px 200px;
// }

// @media screen and (min-width: 1200px) {
//   .chefe-photo {
//     width: 240px;
//     height: 390px;
//   }
// }

// .chefe-name {
//   font-weight: 600;
//   font-size: 24px;
//   margin-bottom: 8px;
// }

// @media screen and (min-width: 1200px) {
//   .chefe-name {
//     font-size: 40px;
//     margin-bottom: 16px;
//   }
// }

// .descr-chefe {
//   margin-bottom: 14px;
// }

// @media screen and (min-width: 1200px) {
//   .descr-chefe {
//     margin-bottom: 18px;
//   }

// /* backdrop */

// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

// .backdrop {
//   position: fixed;
//   background-color: rgba(49, 38, 26, 0.4);
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 24px;
// }

// .modal {
//   background-color: var(--lights);
//   border-radius: 32px;
//   max-width: 880px;
//   width: 100%;
//   height: 100%;
//   max-height: 880px;
//   overflow: auto;
//   padding: 128px;
//   position: relative;
// }

// .modal-btn-close {
//   width: 32px;
//   height: 32px;
//   border: none;
//   position: absolute;
//   top: 40px;
//   right: 40px;
//   background-color: transparent;
//   stroke: var(--dark-brown);
//   fill: transparent;
// }

// .section-title.modal-title {
//   margin-bottom: 8px;
// }

// .modal-subtitle {
//   text-align: center;
//   color: var(--dark-green);
//   margin-bottom: 72px;
// }
