.btn {
  border-color: transparent;
  border-radius: 24px;
  padding: 12.5px 24px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  background-color: var(--blue);
  margin-bottom: 8px;
  line-height: 1.16;
  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 14px;
    padding: 16px 32px;
  }
}
