.carousel-button {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--blue-dark);
    border-radius: 50%;
    fill: var(--blue-dark);
    background-color: transparent;
    transition: fill 0.2s, background-color 0.2s;
  }

  &.next {
    transform: rotate(180deg);
  }

  &:hover {
    fill: var(--white);
    border-color: transparent;
    background-color: var(--blue);
  }
}
