.form {
  &_container {
    background-color: var(--blue-dark);
    background-image: url('../images/background-form.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-radius: 24px;
    overflow: hidden;
    padding: 42px 24px;

    @media screen and (min-width: $bp-desktop) {
      padding: 48px 56px;
    }
  }

  &_subtitle {
    font-size: 22px;
    text-align: center;
    color: var(--white);
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 32px;
    }
  }

  &_input {
    margin-bottom: 16px;
    padding: 16px 24px;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--gray-light);
    border-radius: 24px;
    font-size: 13px;

    &::placeholder {
      color: var(--white);
    }

    &:hover {
      outline: none;
      background-color: var(--gray-light);
    }

    @media screen and (min-width: $bp-desktop) {
      border-radius: 32px;
      padding: 18px 32px;
      color: var(--white);
    }

    &--modal {
      margin-bottom: 24px;
    }
  }

  &_btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  &_privacy {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--gray-light);

    &--link {
      color: currentColor;
      text-decoration: underline;
    }
  }
}
