.procedures-card {
  margin: 0 auto;
  position: relative;
  border-radius: 4px 120px;
  overflow: hidden;
  width: 320px;
  height: 416px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );

  &_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &_title {
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
    }
  }

  @media screen and (min-width: $bp-desktop) {
    width: 344px;
    height: 456px;
  }
}
