.advantages-section {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 56px;
    }
  }

  &__item {
    display: block;
    border-radius: 32px;
    padding: 24px 32px;
    max-width: 316px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    background-color: var(--white);
  }

  &__svg {
    margin-bottom: 8px;
    fill: var(--blue);
  }

  &__text {
    line-height: 1.33;
  }
}
