.contacts-section {
  padding-top: 20px;
  padding-bottom: 0;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 48px;
    padding-bottom: 96px;
  }

  &_container {
    max-width: 1059px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;

    @media screen and (min-width: $bp-desktop) {
      max-width: 1059px;
      flex-direction: row-reverse;
      gap: 32px;
    }
  }

  &_map {
    width: 100%;
    height: 232px;

    @media screen and (min-width: $bp-desktop) {
      border-radius: 32px;
      flex-shrink: 0;
      width: 605px;
      height: 481px;
    }
  }
}
