.contacts-section {
  padding-top: 20px;
  padding-bottom: 0;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 48px;
    padding-bottom: 96px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 32px;
    }
  }
}

.form-container {
  flex-basis: calc((100% - 32px) / 2);
}

.section-title.contacts-title {
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.callto-action {
  margin-bottom: 42px;
  color: var(--dark-green);
}

.button-call.button-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.button-call.button-form:hover {
  color: var(--dark-green);
  background-color: transparent;
}

.descr-privacy {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.link-privacy {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--dark-brown);
}

.map {
  width: 100%;
  height: 176px;
}

@media screen and (min-width: 768px) {
  .map {
    width: 603px;
    height: 595px;
    border-radius: 16px;
  }
}
