.hero-section {
  padding: 71px 0 44px 0;
  background-image: url('../images/background-hero.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: $bp-desktop) {
      align-items: flex-start;
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1.5;
    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 1.16;
    }
  }

  &__title {
    font-size: 54px;
    line-height: 0.85;
    color: var(--blue);
    margin-bottom: 32px;
    @media screen and (min-width: $bp-desktop) {
      width: 529px;
      font-size: 140px;
      line-height: 0.81;
      margin-bottom: 40px;
    }
  }

  &__descr {
    font-size: 11px;
    line-height: 1.64;
    text-align: center;
    @media screen and (min-width: $bp-desktop) {
      font-size: 12px;
      line-height: 1.5;
    }
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 122px 0 127px 126px;
  }
}
