.procedures-section {
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &_slider {
    overflow: hidden;
    margin-bottom: 16px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 32px;
    }
  }
}
