/* formats */

.container-formats {
  font-weight: 300;
  font-size: 14px;
  color: var(--lights);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .container-formats {
    margin-bottom: 32px;
  }
}

.swiper-container {
  overflow: hidden;
}

.button-arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-arrow {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--dark-brown);
    border-radius: 50%;
    fill: var(--dark-brown);
    background-color: transparent;
    transition: fill 0.2s, background-color 0.2s;
  }
}

.button-arrow.next {
  transform: rotate(180deg);
}

.button-arrow:hover {
  fill: var(--lights);
  background-color: var(--dark-brown);
}

.swiper-slide.card {
  display: flex;
  justify-content: center;
}

.card-format {
  width: 321px;
  height: 442px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--dark-brown) 100%
  );
  display: flex;
  align-items: flex-end;
  padding: 24px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .card-format {
    width: 349px;
    height: 444px;
  }
}

.img-format {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.formats-name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pagination-button {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: var(--light-brown);
}

.pagination-button-active {
  background-color: var(--light-green);
}
