.section {
  padding: 20px 0;
  &__title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 24px;
    @media screen and (min-width: $bp-desktop) {
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 48px;
      line-height: 1.16;
    }
  }
  @media screen and (min-width: $bp-desktop) {
    padding: 48px 0;
  }
}
